<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


<!-- 1_Definicao do Banco de Dados o Nome e qual é o banco -->

	<bean id="conexaoBD" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/springCrude" />
		<property name="username" value="root" />
		<property name="password" value="le0405" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	</bean>

	
<!-- 2_ Estagio Anotacao da Classe e criacao das tabelas -->
	<bean id="hibernate"	class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="conexaoBD"/>
		
		<property name="annotatedClasses">
			<list>
				<value>entity.Cliente</value>
				<value>entity.Endereco</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	 
	 
	  
	 <bean id="cliente_spr" class="entity.Cliente">
	      <property name="nome" value="teste"></property>
	 </bean> 
	 
	 
	 <bean id="endereco_spr" class="entity.Endereco">
	    <property name="rua" value="teste"></property>
	 </bean> 
	 
	 
	  <!-- HibernateTemplate (Alimento é sessionFactory)-->
	 <bean id="clienteDao_spr" class="persistence.ClienteDao">
	    <property name="sessionFactory" ref="hibernate"/>
	 </bean>
	 
	 
	
	
	
	
	
	
	 
	 
	 
</beans>



 

